html,
body {
	width: 100%;
	height: 100%;
	background: black;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

#game,
#register,
#login,
#about,
#setting {
	display: none;
}

h1 {
	padding: 30px 0 0 0;
	color: yellow;
	font-family: 'Press Start 2P', cursive;
	text-align: center;
	font-size: 400%;
}

#navbar {
	display: flex;
	/* flex-direction: column;
	align-items: center; */
	justify-content: space-between;
	background-color: #fccf00;
	/* background-color: rgb(248, 205, 85); */
	color: yellow;
	text-decoration: none;
}

#buttons {
	width: 35%;
	padding: 0 -20px 0 0;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

#logo {
	padding: 0 20px 0 0; 
}

#welcome {
	display: flex;
	flex-direction: column;
	align-items: center;
}

button {
	background-color: black;
	color: yellow;
	font-family: 'Press Start 2P', cursive;
}

#welcome button, #navbar button {
	width: 30%;
	height: 50px;
}

#navbar button {
	width: 120px;
	height: 30px;	
}

#register form,
#login form {
	margin: 5% 5%;
	padding: 2%;
	border: 5px solid blue;
	text-align: center;
	font: 1.2em "Fira Sans", sans-serif;
	color: yellow;
}

#game {
	width: 100%;
	height: 100%;
	padding: 25px 0;
	/* display: flex; */
	justify-content: space-around;
	align-items: flex-start;
	color: yellow;
}

.middle {
	width: 40%;
	border: 5px orange solid;
}

.middle,
.left {
	height: 80%;
}

.left h2 {
	text-decoration: underline;
	text-decoration-style: dashed;
	margin: 2px 30%;
}

.left,
.right {
	border: 6px rgb(125, 125, 255) dotted;
}

.left {
	width: 25%;
	padding: 0 5px;
}

.right {
	/* width: 25%; */
	padding: 0 5px;
}

.left table {
	table-layout: fixed;
	margin: -23px 0;
}

#game td {
	vertical-align: 0;
}

.left ul {
	list-style-type: none;
	padding: 0;
}

.right {
	padding: 10px;
}

#about {
	background-color: white;
}

footer {
	color: yellow;
}